* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(125, 190, 90);
    background-attachment: fixed;
    color: rgb(42, 97, 44);
    margin: 0;
}

.cabecalho {
     padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
     display: flex;
     gap: 320px;
}

.cabecalho-menu-links {
    font-family: cursive;
    font-size: 24px;
    font-weight: 600;
    color: rgb(206, 255, 122);
    text-decoration: none;
}
 .titulo-destaque {
    color: rgb(19, 83, 19);
 }

 .conteudo {
    height: auto;
    flex-direction: column;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
 }

 .apresentacao-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    gap: 20px;
    order: 2;

 }

 .apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
 }

 .apresentacao-conteudo-paragrafo {
   font-size: 16px;
   font-family: 'Times New Roman', Times, serif;
   text-align: justify;
 }

 .apresentacao-links-conteudo {
   font-family: 'Times New Roman', Times, serif;
   font-weight: 380;
   font-size: 30px;
 }
 
 .botao1 {
   background-color: rgb(179, 224, 100);
   color:rgb(255, 255, 255);
   width: 500px;
   height: 80px;
   text-align:center;
   border: 2px seagreen;
   border-radius: 50px;
   font-size: 30px;
   padding: 3px 0;
   text-decoration:none;
   font-family: 'Times New Roman', Times, serif;
   letter-spacing: 2px;
   text-transform:uppercase;
   position: relative;
   overflow: hidden;
 }
